matplotlib==3.10.7
ngboost==0.5.10
numpy==2.3.5
pandas==2.3.3
cryptography==46.0.3
requests==2.32.5
xarray
cfgrib
eccodes
scikit-learn==1.7.2
scipy==1.16.3
PyYAML==6.0.3
plotly==6.8.0
streamlit==1.58.0
streamlit-autorefresh==1.0.1
